h1 {
    color: #cdc4ee; 
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2rem;
    text-shadow: 2px 2px 4px #000;
    text-align: center;
  }

  h2 {
    color: #cdc4ee; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;

  }
  body {
color: #000;
background-color: #149aa4;
  }

  link {
align-items: center;

  }

  image{
    align-items: center;
  }

ul {
  color: #cdc4ee; 
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
 }


 p {
  color: #cdc4ee; 
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
 }

 div {
  width: 500px;
  margin: 6 auto;
  padding: 5px;
  border: 1px solid #28a745;
  border-radius: 5px;
  background-color: #0f81cd;
}



button {
  width: 100%;
  padding: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #218838;
}