h1 {
    color: #cdc4ee; 
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2rem;
    text-shadow: 2px 2px 4px #000;
    text-align: center;
  }

  h2 {
    color: #cdc4ee; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;

  }
  body {
color: #000;
background-color: #149aa4;
  }

  link {
align-items: center;

  }

  image{
    align-items: center;
  }

ul {
  color: #cdc4ee; 
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
 }


 p {
  color: #cdc4ee; 
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
 }