@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #33c3df;
  --foreground: #90afea;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #149aa4;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);

  font-family: Arial, Helvetica, sans-serif;
}

h1 { 

  color: #cdc4ee; /* Un tono de rosa llamativo */
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2rem;
    text-shadow: 2px 2px 4px #000;
    text-align: center;
  
}